@page "/deckview"
@using DeckBuilderWASM.POCOs
@using System.Text.Json;
@using System.IO
@inject IJSRuntime JS
@inject HttpClient Http
@inject Container container

<div class="container">
    @if (problems.Count > 0){
        <div class="row">
            <div class="h6">Folgende Karten wurden nicht gefunden:</div>
        </div>
    }

    <div class="row">
        @foreach (var card in this.cards)
        {
            <div class="col-md-3 mb-3">
                <DeckBuilderWASM.Components.CardSelection Card="@card"/>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md 2 mb-2">
            <div class="button" @onclick="() => Save()">Speichern</div>
        </div>
    </div>
</div>

@code {
    List<Card> cards = new();
    List<string> problems = new();

    protected override async Task OnInitializedAsync()
    {
        var split = container.Input.Split(['\n']).Select(GetCorrectedInput);
        foreach (var card in split)
        {
            if (String.IsNullOrEmpty(card))
                continue;
            try
            {
                var result = await Http.GetFromJsonAsync<ApiCardResult>($"https://api.scryfall.com/cards/named?exact={card}");
                if (result != null)
                    cards.Add(new Card(result, card));
                else
                    problems.Add(card);
                await Task.Delay(100);
                if (cards.Count % 4 == 0)
                    StateHasChanged();
            }
            catch (Exception e)
            {
                throw;
            }
            StateHasChanged();
        }
    }

    private async Task Save(){
        // await DownloadFileFromStream();

    }


    // private Stream GetFileStream()
    // {
    //     var s = JsonSerializer.SerializeToUtf8Bytes(container);
    //     using var stream = new MemoryStream(s);
    //     return stream;
    // }

    // private async Task DownloadFileFromStream()
    // {
    //     var fileStream = GetFileStream();
    //     var fileName = "Deckliste.json";

    //     using var streamRef = new DotNetStreamReference(stream: fileStream);

    //     await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    // }

    private static string GetCorrectedInput(string input){
        return input.Replace("'", String.Empty).Replace(",", String.Empty).Trim();
    }
}
