@page "/deckview"
@using DeckBuilderWASM.POCOs
@using System.Text.Json;
@using System.IO
@using System.Reflection.Metadata
@using System.Text.RegularExpressions
@inject IJSRuntime JS
@inject HttpClient Http
@inject Container container

<div class="container">
    @if (problems.Count > 0)
    {
        <div class="row">
            <div class="h4">Folgende Karten wurden nicht gefunden:</div>
            @foreach(var problem in this.problems){
                <div>@problem</div>
            }
        </div>
    }

    <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Export läuft</h5>
                    @* <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button> *@
                </div>
                <div class="modal-body">
                    @aktuellerStand
                </div>
                <div class="modal-footer">
                    Bitte ein wenig Geduld, das dauert ein wenig.
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button>
                </div>
            </div>
        </div>
    </div>

    @if (ShowBackdrop)
    {
        <div class="modal-backdrop fade show"></div>
    }

    <div class="row">
        @foreach (var card in this.container.Data)
        {
            <div class="col-md-3 mb-3">
                <DeckBuilderWASM.Components.CardSelection Card="@card" />
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md 2 mb-2">
            <button class="btn btn-secondary btn-sm" @onclick="() => SaveContainer()">Speichern</button>
        </div>
        <div class="col-md 2 mb-2">
            <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#altArtModal" @onclick="() => ExportPictures()">Export</button>
        </div>
    </div>
</div>


@code {

    #region modal
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    #endregion

    List<string> problems = new();
    string aktuellerStand;

    protected override async Task OnInitializedAsync()
    {
        if (this.container.Data == null || this.container.Data.Count == 0)
            await LoadInitialCards();
        StateHasChanged();
        this.LoadAllImages();
    }

    private async Task LoadInitialCards(){
        this.container.Data = new();
        var split = container.Input.Split(['\n']).Select(GetCorrectedInput);
        foreach (var card in split)
        {
            if (String.IsNullOrEmpty(card))
                continue;

            var regex = new Regex(@"^\d+");

            var match = regex.Match(card);
            var anzahl = 1;

            if (match.Success)
                anzahl = Int32.Parse(card.Trim().Substring(0, match.Value.Length));

            var name = GetCorrectedInput(card.Substring(match.Value.Length));
            ApiCardResult result = null;
            try
            {
                result = await Http.GetFromJsonAsync<ApiCardResult>($"https://api.scryfall.com/cards/named?exact={name}");
            }
            catch (Exception)
            {
                this.problems.Add(card);
            }
            if (result != null && result.ImageUris != null)
                this.container.Data.Add(new Card(result, name, anzahl));
            else if (!problems.Contains(card))
                problems.Add(card);
            await Task.Delay(100);
            if (this.container.Data.Count % 4 == 0)
                StateHasChanged();
        }
    }

    private async Task LoadAllImages()
    {
        foreach (var card in this.container.Data.Where(c => c.Image == null || c.Image.Length == 0))
            await this.LoadImage(card);
    }

    private async Task LoadImage(Card card)
    {
        card.Image = await Http.GetByteArrayAsync($"https://api.scryfall.com/cards/named?exact={card.Name}&format=image&set={card.SelectedVersion.Set}");
        await Task.Delay(100);
    }

    private async Task ExportPictures()
    {
        this.Open();
        this.aktuellerStand = "Lade Bilder";
        await this.LoadAllImages();

        var imagesToExport = new List<byte[]>();

        for (int k = 0; k < this.container.Data.Count; k++)
        {
            var card = this.container.Data[k];
            for (int i = 0; i < card.Anzahl; i++)
                imagesToExport.Add(card.Image);
        }

        var tasks = new List<Task>();
        var imageChunks = imagesToExport.Chunk(2).ToList();

        for (int i = 0; i < imageChunks.Count; i++)
        {
            this.aktuellerStand = $"Starte Bildverarbeitung von Bild {i + 1}";
            this.StateHasChanged();
            await CombineImages(imageChunks[i], i, imageChunks.Count).ConfigureAwait(false);
        }

        this.Close();
    }

    private async Task CombineImages(byte[][] images, int currentNumber, int maxNumber)
    {
        byte[] finalImage;
        var current = (currentNumber +1).ToString().PadLeft(maxNumber.ToString().Length);
        var filename = $"{this.container.DeckName}_{current}-{maxNumber}.jpg";
        using (var resultStream = await ImageProcessor.ProcessImagesWithImageSharp(images[0], images.Length > 1 ? images[1] : null))
        {
            finalImage = resultStream.ToArray();
        }
        if (finalImage != null)
            await this.SaveFile(finalImage, filename);
    }

    private async Task SaveContainer()
    {
        var fileName = String.IsNullOrEmpty(this.container.DeckName) ? "deck.json" : $"{this.container.DeckName}.json";
        var byteArray = JsonSerializer.SerializeToUtf8Bytes(container);
        var blob = await JS.InvokeAsync<IJSObjectReference>("createBlob", byteArray);
        // Erstellen Sie einen Download-Link
        var url = await JS.InvokeAsync<string>("URL.createObjectURL", blob);

        // Erzeugen Sie den Download-Link
        await JS.InvokeVoidAsync("downloadFile", url, fileName);

        // Optional: Bereinigen Sie den Blob-URL, wenn er nicht mehr benötigt wird
        await JS.InvokeVoidAsync("URL.revokeObjectURL", url);
    }

    private async Task SaveFile(byte[] byteArray, string filename)
    {
        var blob = await JS.InvokeAsync<IJSObjectReference>("createBlob", byteArray);
        // Erstellen Sie einen Download-Link
        var url = await JS.InvokeAsync<string>("URL.createObjectURL", blob);

        // Erzeugen Sie den Download-Link
        await JS.InvokeVoidAsync("downloadFile", url, filename);

        // Optional: Bereinigen Sie den Blob-URL, wenn er nicht mehr benötigt wird
        await JS.InvokeVoidAsync("URL.revokeObjectURL", url);
    }

    private static string GetCorrectedInput(string input)
    {
        return input.Replace("'", String.Empty).Replace(",", String.Empty).Trim();
    }
}
