@page "/"
@page "/welcome"
@page "/deckentry"
@using DeckBuilderWASM.POCOs
@inject Container container;
@inject NavigationManager navigation;
@inject HttpClient Http


<h3>Deck Eingabe</h3>
<div class="container-fluid">
    <button class="btn btn-secondary btn-sm" @onclick="OkButtonClick">OK</button>
    <form>
        <div class="form-group">
            <label for="exampleTextarea" class="mt-2">Deckliste eingeben: z.B. 1 Shivan Dragon</label>
            <input type="text" class="form-control mb-3" placeholder="Deckname" aria-label="Username" aria-describedby="basic-addon1">
            <textarea class="form-control mb-3" id="exampleTextarea" @bind="deckinput" rows="100"></textarea>
        </div>
        <button class="btn btn-secondary btn-sm" @onclick="OkButtonClick">OK</button>
    </form>
</div>



@code {
    string deckinput;

    private void OkButtonClick()
    {
        if (String.IsNullOrWhiteSpace(deckinput))
            return;
        container.Input = deckinput;
        navigation.NavigateTo("/deckview");
    }
}
